<div class="card border-dark" style="margin: 1rem;">
    <div class="card-header text-white bg-dark">
        <a class="text-light bg-gray" ui-sref='Education.schoolDetails({ schoolId: vm.school.id })' href>
            <h5>{{vm.school.school}}</h5>
        </a>
    </div>
    <div class="card-body text-dark">
        <div class="media">
            <img class="d-flex mr-3 col-md-auto" src="" alt="School Thumbnail Image">
            <div class="media-body col-md-auto">
                    <h5 class="card-title">{{vm.school.degree}}, {{vm.school.field}}</h5>
                    <p class="card-text">{{vm.school.startYear}} - {{vm.school.endYear}}</p>
                    <a href ng-hide="vm.moreInfo" ng-click="vm.toggleMoreInfo()">More</a>
                    <div ng-hide="!vm.moreInfo">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Morbi sodales nec turpis in auctor. Morbi sit amet enim 
                            porttitor, pellentesque nibh nec, blandit massa. Pellentesque tincidunt hendrerit orci at euismod.
                        </p>
                        <a href ng-click="vm.toggleMoreInfo()">Less</a>
                    </div>
            </div>
        </div>
    </div>
</div>