body {
  padding-top: 54px;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.progressbar-item-container {
  width:150px;
  height:150px;
  margin:10px;
  position:relative
}

.grid-item:hover {
  text-align: center;
  float: left;
  box-shadow: 1px 1px 1px black;
  border-radius: 100px;
  background: #acadaf;
  transition: all .5s ease;
  -webkit-animation: wiggle 0.3s 0s infinite ease-in;
  animation: wiggle 0.3s 0s infinite ease-in;
  opacity: 1;
}