body {
  padding-top: 54px;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.progressbar-item-container {
  width:150px;
  height:150px;
  margin:10px;
  position:relative
}

.grid-item {
  margin: 20px 0px 20px 0px;
}